<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inner Page - Remember Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/icon.jpg" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/img/icon.jpg" rel="icon">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Remember
  * Template URL: https://bootstrapmade.com/remember-free-multipurpose-bootstrap-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="inspect.html">Fetal Health</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#hero">about</a></li>
          <li><a class="nav-link scrollto" href="#predict">Predict</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!--Hero section-->
 <section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>Predict and monitor Fetal Health<span>.</span></h1>
        
      </div>
    </div>

  </div>
</section> <!--End Hero section-->

 <main id="main">

   <!-- ======= About Section ======= -->
   <section id="predict" class="predict">
     <center>
           <h3>FetalHealth</h3>
           <br>
           <p class="fst-italic">

             <div class="container" >
               <form method="POST" action="/home">
                 <div class="row">
                   <div class="col-sm">
                     <label for="prolongued_decelerations"><b>Prolongued Decelerations</b></label><br>
                     <input type="text" name="feature1"><br>
                     <br>
   
                     <label for="abnormal_short_term_variability"><b>Abnormal Short Term Variability</b></label><br>
                     <input type="text" name="feature2"><br>
                     <br>
   
                     <label for="percentage_of_time_with_abnormal_long_term_variability"><b>Percentage of Time with Abnormal Long Term Variability</b></label><br>
                     <input type="text" name="feature3"><br>
                     <br>
                   </div>
                   <div class="col-sm">
                     <label for="histogram_variance"><b>Histogram Variance</b></label><br>
                     <input type="text" name="feature4"><br>
                     <br>
   
                     <label for="histogram_median"><b>Histogram Median</b></label><br>
                     <input type="text" name="feature5"><br>
                     <br>
   
                     <label for="mean_value_of_long_term_variability"><b>Mean Value of Long Term Variability</b></label><br>
                     <input type="text" name="feature6"><br>
                     <br>
                   </div>
   
                   <div class="col-sm">
                     <label for="histogram_mode"><b>Histogram Mode</b></label><br>
                     <input type="text" name="feature7"><br>
                     <br>
   
                     <label for="accelerations"><b>Accelerations</b></label><br>
                     <input type="text" name="feature8"><br>
                     <br>
                   </div>
                   <br>
                   <br>
                   <br>
                 </div>
                 <button type="submit" class="btn btn-success">Submit</button>
               </form>
             </div>

                 <!-- <h1>The water quality potability status: <b style="color:Purple">{{predict}}</b></h1> -->
           </p>
         </Center>


         </div>
       </div>

     </div>
   </section><!-- End About Section -->
   
   
  </main>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>